<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>hi,你的 <span>山竹记账验证码</span>为:</h1>
    <h1><%= @code %></h1>
  </body>
</html>
