<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><span>【山竹记账】<span style="border-bottom: 1px solid #c3c3c3;"><%= @code %></span> 是您的验证码。请妥善保存，以防泄露。</span></h1>
  </body>
</html>
